:root {
    --color-brand: #46df11;
    --color-links: var(--color-brand);
    --radius: 0.4rem;
    --vh: 100vh;
}

#content a:not(.toc-backref) {
    text-decoration: none;
    color: var(--color-links);
}

#left-sidebar a {text-decoration: none !important}
#left-sidebar a:hover {background-color: hsl(var(--accent))}
a.headerlink {display: none}
pre {padding: 1rem}
.max-h-\[calc\(var\(--vh\)-4rem\)\] {height: 100%}
.toctree-l1 {margin-top: 0.5rem}
.toctree-l1:first-child {margin-top: 0}
.rounded-\[0\.5rem\] {border-radius: 0.4rem}

::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
}

::-webkit-scrollbar-track {background-color: transparent}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent));
    border: 0.2vw solid hsl(var(--background));
    border-radius: 1vw;
}

.cards {display: flex}
.cards a {margin-right: 1rem}
.cards a:last-child {margin-right: 0}

h6 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 0.9rem;
    color: hsl(var(--muted-foreground));
    margin-top: 1.5rem;
}

section#core-api section pre {margin-top: 0.5rem}
section#core-api section .sd-tab-set.docutils {margin-top: 0}
.sd-tab-content>:last-child {margin-top: 0.5rem !important}

.sd-tab-content {
    box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline) !important;
    padding-bottom: 0 !important;
}

ul.simple {margin-top: 0.5rem !important}
ul.simple li {margin-top: 0.5rem !important}
ul.simple li p {margin-top: 0 !important}